{# src/OC/PlatformBundle/Resources/views/Constructeur/formulaire.html.twig #}

{% extends "IMIECoreBundle:formulaire.html.twig" %}
            

  
  {% block  group %}  
      <div class="form-group">
          <label for="nom">Nom dufabricant:</label>
          {{ form_errors(form.nom) }}
          {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
      </div>
  {% endblock  %}