# app/config/security.yml
security:
   encoders:
       FOS\UserBundle\Model\UserInterface: sha512

   role_hierarchy:
       ROLE_ADMIN:       ROLE_USER
       ROLE_SUPER_ADMIN: ROLE_ADMIN

   providers:
       fos_userbundle:
           id: fos_user.user_provider.username

   firewalls:
       main:
           pattern: ^/
           form_login:
               check_path: /login_check
               login_path: /login
               provider: fos_userbundle
           logout:
               path:    /logout
               target: /
              # provider: fos_userbundle
              # csrf_provider: form.csrf_provider
           anonymous:    true

       login:
           pattern:  ^/api/login
           stateless: true
           anonymous: true
           form_login:
               check_path:               /api/login_check
               success_handler:          lexik_jwt_authentication.handler.authentication_success
               failure_handler:          lexik_jwt_authentication.handler.authentication_failure
               require_previous_session: false
       api:
           pattern:   ^/api
           stateless: true
           lexik_jwt: ~



   access_control:
       - { path: ^/core, role: IS_AUTHENTICATED_FULLY}
       - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
       - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
       - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
       - { path: ^/admin/, role: ROLE_ADMIN }
       # - { path: ^/api/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
       # - { path: ^/api,       roles: IS_AUTHENTICATED_FULLY }