{# src/IMIE/CoreBundle/Resources/views/boutons.html.twig #}

{% extends "IMIECoreBundle:Button:layout.html.twig" %}

{% block imiecore_button %}
	<button id="imprimer"{{parent()}}>imprimer Qr Code</button>
{% endblock %}
