{# src/IMIE/CoreBundle/Resources/views/boutons.html.twig #}

{% extends "IMIECoreBundle:Button:layout.html.twig" %}


{% block imiecore_button %}
	<button id="modifier" {{parent()}}>Modifier</button>
{% endblock %}
